body{
    background-color: white;
}
form{
border-radius: 15px;
padding: auto;
margin: 100px auto;
width: 400px;
height: 400px;
background-color: transparent;
box-shadow: 5px 5px 56px transparent;
column-gap: normal;
}
input{
margin-bottom: 10px;
}