body{
    background-color:rgba(21, 151, 101, 0.925);
    height: 100vh;
    padding: 20px;
    

}
form{
border-radius: 15px;
padding: auto;
margin: 100px auto;
width: 400px;
height: 400px;
background-color: transparent;
box-shadow: 5px 5px 56px transparent;
column-gap: normal;
}
input{
margin-bottom: 10px;
}
.container{
background-color: rgb(28, 34, 34);
width: 500px;
margin: auto;
display: flex;
flex-direction: column;
justify-items: center;
padding: 20px;
border-radius: 10px;
gap: 2px;
box-shadow: 1px 2px 2px black;
}
.loginWord{
color: white;
}
button{
background-color: rgb(21, 151, 101,0.925);
color: black;
padding: 10px 40px 10px 40px;
border-radius: 5px;
cursor: pointer;

}